@{
    ViewBag.Title = "Home Page";
}

<img src="~/Content/elephant.jpg" id="elephant" style="position: absolute; top:100px; left: 100px"/>

<script>
    var eleImage = document.getElementById("elephant");
    eleImage.addEventListener("mouseover", function (e) {
        setNewPosition(eleImage, e);
    });

    function setNewPosition(element, e) {
        var newTop = Math.random() * (window.innerHeight - element.clientHeight);
        var newLeft = Math.random() * (window.innerWidth - element.clientWidth);
        if (newLeft > parseInt(element.style.left.replace("px", ""))) {
            element.style.transform = "scaleX(-1)";
        } else {
            element.style.transform = "scaleX(1)";
        }

        var newRight = newLeft + eleImage.clientWidth;
        var newBottom = newTop + eleImage.clientHeight;

        if (e.x > newLeft && e.x < newRight && e.y > newTop && e.y < newBottom) {
            setNewPosition(element);
        }

        $(element).animate({ "left": newLeft + "px", "top": newTop + "px" });
    }
    
</script>

<label>Enter your github username here</label>
<input id="username" type="text" placeholder="Enter username" />
<button id="getRepos">Get Repos!</button>
<div id="myRepos">

</div>

<script>

    function httpRequest(method, url, loadAction, progressAction){
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', loadAction);
        xhr.addEventListener('progress', progressAction);
        xhr.open(method, url);
        xhr.send();
    }

    var myUrl = "/products.json";

    httpRequest('GET', myUrl, function (e) {
        var data = JSON.parse(this.responseText);
        console.dir(data);
    }, function (e) {
        if (e.lengthComputable) {
            var percentComplete = Math.round(e.loaded / e.total * 100);
            console.log("Loading", myUrl, percentComplete, "% loaded.");
        } else {
            console.log('processing...');
        }
    });

    var button = document.getElementById("getRepos");
    button.addEventListener("click", function () {
        $.getJSON("htt[s://api.github.com/users/" + userName + "/repos")
        .done(function(results){
            $("ul").attr("id","thelist").appendTo("#myRepos");
            for (var item in results) {
                $("li").text($("a").attr("href", item.url).text(item.name)).appendTo("#thelist");
            }
        });
        

    })

    


</script>